fullItem {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
}
.h {
  margin: 10px 20px;
}
.p {
  margin: 10px 20px;
}
.b {
  margin: 10px 20px;
}
.b {
  color: #5fa36a;
}

.fullItem {
  width: 100%;
  background: #700508;
  border-radius: 10px 10px 10px 10px;
  border: 2px solid #000000;
  overflow: hidden;
  transition: transform 500ms ease;
  position: relative;
  padding-bottom: 20px;
}
.fullItem img {
  width: 100%;
  height: 60%;
  border-radius: 10px 10px 10px 10px;
}
.fullItem:hover {
  transform: scale(1.05);
}
.plas {
  position: absolute;
  right: 20px;
  bottom: 20px;
  background: red;
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  color: #ffffff;
  border-radius: 50%;
  cursor: pointer;
  font-weight: 400;
  transition: transform 500ms ease;
}
.plas:hover {
  transform: scale(1.3) translateY(-5px);
}
.fullItem {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  overflow: auto;
}
.fullItem > div {
  width: 450px;
  position: relative;
  margin: 10% auto;
  padding: 40px 30px;
  background: #850808;
  border-radius: 9px;
}
